<a href="https://colab.research.google.com/github/katherinetien/revisiting-baltimore-sf-teenbirth/blob/main/baltimore_sf_teenbirth_kathytien.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Comparing Baltimore and San Francisco Teen Birth Rates 

*  how are rates different for different races of the same income level and neighborhood
*   how are rates different for different cities

# import libraries

In [1]:
pip install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)

In [2]:
# import libraries 

#for data analysis 
import pandas as pd
import numpy as np

#for visualization 
import plotly.express as px

# import data

In [3]:
# import data 

# baltimore teen birth rates for low-income black population data
df_balt_teenbirth_b = pd.read_csv("https://raw.githubusercontent.com/katherinetien/comparing-baltimore-san-francisco-teenbirth/master/balt-teenbirth-b.csv")

In [4]:
# preview data 

df_balt_teenbirth_b.head()

         tract         Neighborhood  ... Teenage Birth Rate   Race
0  24510200701            Allendale  ...             0.4713  Black
1  24510270101              Arcadia  ...             0.5820  Black
2  24510271801            Arlington  ...             0.5628  Black
3  24510260404  Baltimore Highlands  ...             0.5390  Black
4  24510260800  Baltimore Highlands  ...             0.3809  Black

[5 rows x 6 columns]

In [5]:
# import rest of data

# baltimore teen birth rates for low-income white population data 
df_balt_teenbirth_w = pd.read_csv("https://raw.githubusercontent.com/katherinetien/comparing-baltimore-san-francisco-teenbirth/master/balt-teenbirth-w1.csv")

In [6]:
df_balt_teenbirth_w.head()

         tract         Neighborhood  ... Teenage Birth Rate   Race
0  24510270101              Arcadia  ...             0.0494  White
1  24510260401    Armistead Gardens  ...             0.2887  White
2  24510260404  Baltimore Highlands  ...             0.4296  White
3  24510260800  Baltimore Highlands  ...             0.3596  White
4  24510250101           Beechfield  ...             0.4052  White

[5 rows x 6 columns]

In [7]:
# sf teen birth rates for low-income black population data 
df_sf_teenbirth_b = pd.read_csv("https://raw.githubusercontent.com/katherinetien/comparing-baltimore-san-francisco-teenbirth/master/sf-teenbirth-b.csv")

In [8]:
# sf teen birth rates for low-income white population data
df_sf_teenbirth_w = pd.read_csv("https://raw.githubusercontent.com/katherinetien/comparing-baltimore-san-francisco-teenbirth/master/sf-teenbirth-w.csv")

In [9]:
# preview data 

df_sf_teenbirth_w.tail()

          tract     Neighborhood  ... Teenage Birth Rate   Race
101  6075031100    Outer Mission  ...                0.0  White
102  6075022704     Potrero Hill  ...                0.0  White
103  6075060400        Lakeshore  ...                0.0  White
104  6075032902  Sunset District  ...                0.0  White
105  6075015400   Laurel Heights  ...                0.0  White

[5 rows x 6 columns]

# filter data for baltimore city only

In [10]:
# look at all of the column names
df_balt_teenbirth_b.columns

Index(['tract', 'Neighborhood', 'City', 'State', 'Teenage Birth Rate', 'Race'], dtype='object')

In [11]:
df_balt_teenbirth_b.describe()

              tract  Teenage Birth Rate
count  1.680000e+02          168.000000
mean   2.448013e+10            0.511733
std    1.198299e+08            0.092474
min    2.400375e+10            0.168200
25%    2.451011e+10            0.463975
50%    2.451018e+10            0.522600
75%    2.451026e+10            0.573600
max    2.451028e+10            0.712600

In [12]:
df_balt_teenbirth_b.head()

         tract         Neighborhood  ... Teenage Birth Rate   Race
0  24510200701            Allendale  ...             0.4713  Black
1  24510270101              Arcadia  ...             0.5820  Black
2  24510271801            Arlington  ...             0.5628  Black
3  24510260404  Baltimore Highlands  ...             0.5390  Black
4  24510260800  Baltimore Highlands  ...             0.3809  Black

[5 rows x 6 columns]

In [13]:
df_balt_teenbirth_b_onlybalt = df_balt_teenbirth_b[df_balt_teenbirth_b["City"] == "Baltimore"]

# merge data

In [14]:
# merge baltimore data for both races

df_balt_teenbirth_b_w_merge = pd.merge(df_balt_teenbirth_b[["tract","Neighborhood","City","State","Teenage Birth Rate"]], 
                                       df_balt_teenbirth_w[["Neighborhood","Teenage Birth Rate"]], 
                                       how = "left", 
                                       on = "Neighborhood")

In [15]:
df_balt_teenbirth_b_w_merge.head(15)

          tract  ... Teenage Birth Rate_y
0   24510200701  ...                  NaN
1   24510270101  ...               0.0494
2   24510271801  ...                  NaN
3   24510260404  ...               0.4296
4   24510260404  ...               0.3596
5   24510260800  ...               0.4296
6   24510260800  ...               0.3596
7   24510120400  ...                  NaN
8   24510250101  ...               0.4052
9   24510080102  ...               0.1923
10  24510080102  ...               0.1774
11  24510080102  ...               0.1513
12  24510080101  ...               0.1923
13  24510080101  ...               0.1774
14  24510080101  ...               0.1513

[15 rows x 6 columns]

In [16]:
# rename x for black population and y for white population
df_balt_teenbirth_b_w_merge = df_balt_teenbirth_b_w_merge.rename(columns={"Teenage Birth Rate_x": "Teenage Birth Rate_Black",
                                            "Teenage Birth Rate_y": "Teenage Birth Rate_White"})

In [17]:
df_balt_teenbirth_b_w_merge.head()

         tract  ... Teenage Birth Rate_White
0  24510200701  ...                      NaN
1  24510270101  ...                   0.0494
2  24510271801  ...                      NaN
3  24510260404  ...                   0.4296
4  24510260404  ...                   0.3596

[5 rows x 6 columns]

In [18]:
# merge sf data for both races
df_sf_teenbirth_b_w_merge = pd.merge(df_sf_teenbirth_b[["tract","Neighborhood","City","State","Teenage Birth Rate"]], 
                                       df_sf_teenbirth_w[["Neighborhood","Teenage Birth Rate"]], 
                                       how = "left", 
                                       on = "Neighborhood")

In [19]:
df_sf_teenbirth_b_w_merge.head(15)

         tract       Neighborhood  ... Teenage Birth Rate_x Teenage Birth Rate_y
0   6075026401  Visitacion Valley  ...               0.6899                  NaN
1   6075015400     Laurel Heights  ...               0.5801               0.0000
2   6075023300            Bayview  ...               0.5746                  NaN
3   6075023103            Bayview  ...               0.5402                  NaN
4   6075023003            Bayview  ...               0.4741                  NaN
5   6075061400       Potrero Hill  ...               0.4642               0.0783
6   6075061400       Potrero Hill  ...               0.4642               0.0330
7   6075061400       Potrero Hill  ...               0.4642               0.0000
8   6075060502          Sunnydale  ...               0.4484                  NaN
9   6075023102            Bayview  ...               0.4481                  NaN
10  6075023400            Bayview  ...               0.4458                  NaN
11  6075017902    Treasure Island  ...               0.4370               0.0860
12  6075031202          Ingleside  ...               0.4148               0.0000
13  6075025402     Bernal Heights  ...               0.4127               0.6662
14  6075025402     Bernal Heights  ...               0.4127               0.1160

[15 rows x 6 columns]

In [20]:
# rename x for black population and y for white population
df_sf_teenbirth_b_w_merge = df_sf_teenbirth_b_w_merge.rename(columns={"Teenage Birth Rate_x": "Teenage Birth Rate_Black",
                                            "Teenage Birth Rate_y": "Teenage Birth Rate_White"})

In [21]:
df_sf_teenbirth_b_w_merge.head(15)

         tract  ... Teenage Birth Rate_White
0   6075026401  ...                      NaN
1   6075015400  ...                   0.0000
2   6075023300  ...                      NaN
3   6075023103  ...                      NaN
4   6075023003  ...                      NaN
5   6075061400  ...                   0.0783
6   6075061400  ...                   0.0330
7   6075061400  ...                   0.0000
8   6075060502  ...                      NaN
9   6075023102  ...                      NaN
10  6075023400  ...                      NaN
11  6075017902  ...                   0.0860
12  6075031202  ...                   0.0000
13  6075025402  ...                   0.6662
14  6075025402  ...                   0.1160

[15 rows x 6 columns]

# bar graph of teen birth rates by neighborhood in both cities

In [23]:
# create baltimore data bar graph 

bar_balt_teenbirth = px.bar(df_balt_teenbirth_b_w_merge, x= "Neighborhood", y= "Teenage Birth Rate_Black", title= "test" )

In [24]:
bar_balt_teenbirth

# average data

In [25]:
# average data points by neighborhood 

df_sf_teenbirth_b_w_merge.describe()

              tract  Teenage Birth Rate_Black  Teenage Birth Rate_White
count  5.700000e+01                 57.000000                 35.000000
mean   6.075044e+09                  0.344119                  0.101114
std    1.269403e+05                  0.118691                  0.168966
min    6.075015e+09                  0.106800                  0.000000
25%    6.075018e+09                  0.277700                  0.007150
50%    6.075025e+09                  0.332700                  0.033600
75%    6.075026e+09                  0.412700                  0.101000
max    6.075981e+09                  0.689900                  0.666200

# bar graph of average teen birth rates by race in baltimore and sf