<a href="https://colab.research.google.com/github/katherinetien/revisiting-baltimore-sf-teenbirth/blob/main/baltimore_sf_teenbirth_kathytien.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Comparing Baltimore and San Francisco Teen Birth Rates 

*  how are rates different for different races of the same income level and neighborhood
*   how are rates different for different cities

# import libraries

In [88]:
pip install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (4.4.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.15.0)

In [89]:
# import libraries 

#for data analysis 
import pandas as pd
import numpy as np

#for visualization 
import plotly.express as px

# import data

In [90]:
# import data 

# baltimore teen birth rates for low-income black population data
df_balt_teenbirth_b = pd.read_csv("https://raw.githubusercontent.com/katherinetien/comparing-baltimore-san-francisco-teenbirth/master/balt-teenbirth-b.csv")

In [91]:
# preview data 

df_balt_teenbirth_b.head()

         tract         Neighborhood  ... Teenage Birth Rate   Race
0  24510200701            Allendale  ...             0.4713  Black
1  24510270101              Arcadia  ...             0.5820  Black
2  24510271801            Arlington  ...             0.5628  Black
3  24510260404  Baltimore Highlands  ...             0.5390  Black
4  24510260800  Baltimore Highlands  ...             0.3809  Black

[5 rows x 6 columns]

In [92]:
# import rest of data

# baltimore teen birth rates for low-income white population data 
df_balt_teenbirth_w = pd.read_csv("https://raw.githubusercontent.com/katherinetien/comparing-baltimore-san-francisco-teenbirth/master/balt-teenbirth-w1.csv")

In [93]:
df_balt_teenbirth_w.head()

         tract         Neighborhood  ... Teenage Birth Rate   Race
0  24510270101              Arcadia  ...             0.0494  White
1  24510260401    Armistead Gardens  ...             0.2887  White
2  24510260404  Baltimore Highlands  ...             0.4296  White
3  24510260800  Baltimore Highlands  ...             0.3596  White
4  24510250101           Beechfield  ...             0.4052  White

[5 rows x 6 columns]

In [132]:
df_average_teenbirth_balt_sf = pd.read_csv("https://raw.githubusercontent.com/katherinetien/comparing-baltimore-san-francisco-teenbirth/master/average_teenbirth_balt_sf1.csv")

In [133]:
df_average_teenbirth_balt_sf.head()

            City Teen Birth Rate    Race
0      Baltimore          21.92%   White
1      Baltimore          49.04%  Black
2  San Francisco           9.83%  White
3  San Francisco          32.91%  Black

In [94]:
# sf teen birth rates for low-income black population data 
df_sf_teenbirth_b = pd.read_csv("https://raw.githubusercontent.com/katherinetien/comparing-baltimore-san-francisco-teenbirth/master/sf-teenbirth-b.csv")

In [95]:
# sf teen birth rates for low-income white population data
df_sf_teenbirth_w = pd.read_csv("https://raw.githubusercontent.com/katherinetien/comparing-baltimore-san-francisco-teenbirth/master/sf-teenbirth-w.csv")

In [96]:
# preview data 

df_sf_teenbirth_w.tail()

          tract     Neighborhood  ... Teenage Birth Rate   Race
101  6075031100    Outer Mission  ...                0.0  White
102  6075022704     Potrero Hill  ...                0.0  White
103  6075060400        Lakeshore  ...                0.0  White
104  6075032902  Sunset District  ...                0.0  White
105  6075015400   Laurel Heights  ...                0.0  White

[5 rows x 6 columns]

# filter data for baltimore city only

In [97]:
# look at all of the column names
df_balt_teenbirth_b.columns

Index(['tract', 'Neighborhood', 'City', 'State', 'Teenage Birth Rate', 'Race'], dtype='object')

In [98]:
df_balt_teenbirth_b.describe()

              tract  Teenage Birth Rate
count  1.680000e+02          168.000000
mean   2.448013e+10            0.511733
std    1.198299e+08            0.092474
min    2.400375e+10            0.168200
25%    2.451011e+10            0.463975
50%    2.451018e+10            0.522600
75%    2.451026e+10            0.573600
max    2.451028e+10            0.712600

In [99]:
df_balt_teenbirth_b.head()

         tract         Neighborhood  ... Teenage Birth Rate   Race
0  24510200701            Allendale  ...             0.4713  Black
1  24510270101              Arcadia  ...             0.5820  Black
2  24510271801            Arlington  ...             0.5628  Black
3  24510260404  Baltimore Highlands  ...             0.5390  Black
4  24510260800  Baltimore Highlands  ...             0.3809  Black

[5 rows x 6 columns]

In [100]:
df_balt_teenbirth_b_onlybalt = df_balt_teenbirth_b[df_balt_teenbirth_b["City"] == "Baltimore"]

# merge data

In [101]:
# merge baltimore data for both races

df_balt_teenbirth_b_w_merge = pd.merge(df_balt_teenbirth_b[["tract","Neighborhood","City","State","Teenage Birth Rate"]], 
                                       df_balt_teenbirth_w[["Neighborhood","Teenage Birth Rate"]], 
                                       how = "left", 
                                       on = "Neighborhood")

In [102]:
df_balt_teenbirth_b_w_merge.head(15)

          tract  ... Teenage Birth Rate_y
0   24510200701  ...                  NaN
1   24510270101  ...               0.0494
2   24510271801  ...                  NaN
3   24510260404  ...               0.4296
4   24510260404  ...               0.3596
5   24510260800  ...               0.4296
6   24510260800  ...               0.3596
7   24510120400  ...                  NaN
8   24510250101  ...               0.4052
9   24510080102  ...               0.1923
10  24510080102  ...               0.1774
11  24510080102  ...               0.1513
12  24510080101  ...               0.1923
13  24510080101  ...               0.1774
14  24510080101  ...               0.1513

[15 rows x 6 columns]

In [103]:
# rename x for black population and y for white population
df_balt_teenbirth_b_w_merge = df_balt_teenbirth_b_w_merge.rename(columns={"Teenage Birth Rate_x": "Teenage Birth Rate_Black",
                                            "Teenage Birth Rate_y": "Teenage Birth Rate_White"})

In [104]:
df_balt_teenbirth_b_w_merge.head()

         tract  ... Teenage Birth Rate_White
0  24510200701  ...                      NaN
1  24510270101  ...                   0.0494
2  24510271801  ...                      NaN
3  24510260404  ...                   0.4296
4  24510260404  ...                   0.3596

[5 rows x 6 columns]

In [105]:
# merge sf data for both races
df_sf_teenbirth_b_w_merge = pd.merge(df_sf_teenbirth_b[["tract","Neighborhood","City","State","Teenage Birth Rate"]], 
                                       df_sf_teenbirth_w[["Neighborhood","Teenage Birth Rate"]], 
                                       how = "left", 
                                       on = "Neighborhood")

In [106]:
df_sf_teenbirth_b_w_merge.head(15)

         tract       Neighborhood  ... Teenage Birth Rate_x Teenage Birth Rate_y
0   6075026401  Visitacion Valley  ...               0.6899                  NaN
1   6075015400     Laurel Heights  ...               0.5801               0.0000
2   6075023300            Bayview  ...               0.5746                  NaN
3   6075023103            Bayview  ...               0.5402                  NaN
4   6075023003            Bayview  ...               0.4741                  NaN
5   6075061400       Potrero Hill  ...               0.4642               0.0783
6   6075061400       Potrero Hill  ...               0.4642               0.0330
7   6075061400       Potrero Hill  ...               0.4642               0.0000
8   6075060502          Sunnydale  ...               0.4484                  NaN
9   6075023102            Bayview  ...               0.4481                  NaN
10  6075023400            Bayview  ...               0.4458                  NaN
11  6075017902    Treasure Island  ...               0.4370               0.0860
12  6075031202          Ingleside  ...               0.4148               0.0000
13  6075025402     Bernal Heights  ...               0.4127               0.6662
14  6075025402     Bernal Heights  ...               0.4127               0.1160

[15 rows x 6 columns]

In [107]:
# rename x for black population and y for white population
df_sf_teenbirth_b_w_merge = df_sf_teenbirth_b_w_merge.rename(columns={"Teenage Birth Rate_x": "Teenage Birth Rate_Black",
                                            "Teenage Birth Rate_y": "Teenage Birth Rate_White"})

In [108]:
df_sf_teenbirth_b_w_merge.head(15)

         tract  ... Teenage Birth Rate_White
0   6075026401  ...                      NaN
1   6075015400  ...                   0.0000
2   6075023300  ...                      NaN
3   6075023103  ...                      NaN
4   6075023003  ...                      NaN
5   6075061400  ...                   0.0783
6   6075061400  ...                   0.0330
7   6075061400  ...                   0.0000
8   6075060502  ...                      NaN
9   6075023102  ...                      NaN
10  6075023400  ...                      NaN
11  6075017902  ...                   0.0860
12  6075031202  ...                   0.0000
13  6075025402  ...                   0.6662
14  6075025402  ...                   0.1160

[15 rows x 6 columns]

# bar graph of teen birth rates by neighborhood in both cities

I did not end up using this for my data visualizations - refer to Github repository for analysis.

In [109]:
# drop duplicates based on neighborhood
df_balt_teenbirth_b_w_merge = df_balt_teenbirth_b_w_merge.drop_duplicates(subset = "Neighborhood", keep = "first")

In [110]:
# preview data 
df_balt_teenbirth_b_w_merge.head(10)

          tract  ... Teenage Birth Rate_White
0   24510200701  ...                      NaN
1   24510270101  ...                   0.0494
2   24510271801  ...                      NaN
3   24510260404  ...                   0.4296
7   24510120400  ...                      NaN
8   24510250101  ...                   0.4052
9   24510080102  ...                   0.1923
21  24510200300  ...                   0.4751
22  24510080302  ...                      NaN
24  24510090500  ...                      NaN

[10 rows x 6 columns]

In [111]:
# create baltimore data bar graph 

bar_balt_teenbirth = px.bar(df_balt_teenbirth_b_w_merge, x= "Neighborhood", y= "Teenage Birth Rate_Black", title= "Teen Birth Rates of Black Populations in Baltimore, MD." )

In [112]:
bar_balt_teenbirth

In [113]:
# preview data for sf

df_sf_teenbirth_b_w_merge.head(10)

        tract  ... Teenage Birth Rate_White
0  6075026401  ...                      NaN
1  6075015400  ...                   0.0000
2  6075023300  ...                      NaN
3  6075023103  ...                      NaN
4  6075023003  ...                      NaN
5  6075061400  ...                   0.0783
6  6075061400  ...                   0.0330
7  6075061400  ...                   0.0000
8  6075060502  ...                      NaN
9  6075023102  ...                      NaN

[10 rows x 6 columns]

In [114]:
# do the same for sf

df_sf_teenbirth_b_w_merge = df_sf_teenbirth_b_w_merge.drop_duplicates(subset = "Neighborhood", keep = "first")

In [115]:
# preview data 

df_sf_teenbirth_b_w_merge.head(10)

         tract  ... Teenage Birth Rate_White
0   6075026401  ...                      NaN
1   6075015400  ...                   0.0000
2   6075023300  ...                      NaN
5   6075061400  ...                   0.0783
8   6075060502  ...                      NaN
11  6075017902  ...                   0.0860
12  6075031202  ...                   0.0000
13  6075025402  ...                   0.6662
18  6075031301  ...                      NaN
19  6075021700  ...                   0.0336

[10 rows x 6 columns]

# average data

In [116]:
# preview data
df_balt_teenbirth_b_w_merge.head(10)

          tract  ... Teenage Birth Rate_White
0   24510200701  ...                      NaN
1   24510270101  ...                   0.0494
2   24510271801  ...                      NaN
3   24510260404  ...                   0.4296
7   24510120400  ...                      NaN
8   24510250101  ...                   0.4052
9   24510080102  ...                   0.1923
21  24510200300  ...                   0.4751
22  24510080302  ...                      NaN
24  24510090500  ...                      NaN

[10 rows x 6 columns]

In [117]:
df_sf_teenbirth_b_w_merge.head(10)

         tract  ... Teenage Birth Rate_White
0   6075026401  ...                      NaN
1   6075015400  ...                   0.0000
2   6075023300  ...                      NaN
5   6075061400  ...                   0.0783
8   6075060502  ...                      NaN
11  6075017902  ...                   0.0860
12  6075031202  ...                   0.0000
13  6075025402  ...                   0.6662
18  6075031301  ...                      NaN
19  6075021700  ...                   0.0336

[10 rows x 6 columns]

In [118]:
# average data points by neighborhood 

df_balt_teenbirth_b_w_merge.describe()

              tract  Teenage Birth Rate_Black  Teenage Birth Rate_White
count  1.140000e+02                114.000000                 52.000000
mean   2.450576e+10                  0.526491                  0.237023
std    4.727765e+07                  0.092322                  0.138502
min    2.400540e+10                  0.168200                  0.000200
25%    2.451013e+10                  0.485200                  0.135725
50%    2.451019e+10                  0.535900                  0.224450
75%    2.451027e+10                  0.581875                  0.347500
max    2.451028e+10                  0.712600                  0.489100

In [119]:
df_sf_teenbirth_b_w_merge.describe()

              tract  Teenage Birth Rate_Black  Teenage Birth Rate_White
count  2.100000e+01                 21.000000                 12.000000
mean   6.075027e+09                  0.373924                  0.140683
std    1.509227e+04                  0.135698                  0.210383
min    6.075015e+09                  0.106800                  0.000000
25%    6.075016e+09                  0.293100                  0.013800
50%    6.075023e+09                  0.386300                  0.057400
75%    6.075031e+09                  0.437000                  0.125700
max    6.075061e+09                  0.689900                  0.666200

# pivot table with average teen birth rates by race in both cities

In [120]:
# merge data for both cities

df_balt_sf_teenbirth_b_w_merge = pd.merge(df_balt_teenbirth_b_w_merge[["City","Teenage Birth Rate_Black", "Teenage Birth Rate_White"]], 
                                       df_sf_teenbirth_b_w_merge[["Teenage Birth Rate_Black", "Teenage Birth Rate_White"]], 
                                       how = "left", 
                                       on = "Teenage Birth Rate_White")

In [121]:
# preview merged data for both cities

df_balt_sf_teenbirth_b_w_merge.head(10)

         City  ...  Teenage Birth Rate_Black_y
0   Baltimore  ...                      0.6899
1   Baltimore  ...                      0.5746
2   Baltimore  ...                      0.4484
3   Baltimore  ...                      0.4039
4   Baltimore  ...                      0.3146
5   Baltimore  ...                      0.3017
6   Baltimore  ...                      0.2706
7   Baltimore  ...                      0.2417
8   Baltimore  ...                      0.1898
9   Baltimore  ...                         NaN

[10 rows x 4 columns]

# bar graph of average teen birth rates by race in both cities

In [161]:
# bar graph of average teen birth rates

bar_average_teenbirth_balt_sf = px.bar(df_average_teenbirth_balt_sf, x= "City", y= "Teen Birth Rate", color = 'Race', barmode = "group", title= "Average Teenage Birth Rate Percentage Categorized by Race", height = 600)

In [162]:
bar_average_teenbirth_balt_sf